.gradle/
.gradle-tmp/
local.properties
*.log
*.iml
.idea/

build/
app/build/

*.apk
*.ap_
*.aab
*.idsig
*.dm
!release/
!release/*.apk

release-keystore.jks
keystore.properties
*.jks
*.keystore

captures/
externalNativeBuild/
.cxx/
